@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #474853;
  font-family: 'Aboreto', cursive;
  font-size: 60px;
  margin-bottom: 10px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header > ul {
  display: flex;
  justify-content: space-between;
  width: 500px;
  padding: 0;
}

header > ul > li {
  list-style: none;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 20px;
  padding: 20px 30px;
  margin: 0;
}

header > ul > li:hover {
  background-color: #f0eded;
}

#homeDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 250px min-content;
  gap: 20px;
  width: 1000px;
  font-family: 'Playfair Display', serif;
  color: #474853;
  font-size: 18px;
}

#homeDiv p {
  margin: 0;
}

#homeDiv > div {
  background-color: #f0eded;
  padding: 20px;
}

#location {
  display: flex;
  flex-direction: column;
  grid-column: 1 /-1;
  grid-row: 2 / -1;
}

#homeDiv h2 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 25px;
}

tr td:first-child {
  width: 150px;
}