@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

h1 {
  color: #474853;
  font-family: 'Aboreto', cursive;
  font-size: 60px;
  margin-bottom: 10px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header > ul {
  display: flex;
  justify-content: space-between;
  width: 500px;
  padding: 0;
}

header > ul > li {
  list-style: none;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 20px;
  padding: 20px 30px;
  margin: 0;
}

header > ul > li:hover {
  background-color: #e2e2e2;
}